.App {
  display: flex;

  .App-users {
    display: flex;
    flex: 1 0 70%;

    > * + * {
      margin-left: 10px;
    }

    .App-users-table {
      word-break: break-all;

      tbody {
        tr:not(.active) {
          cursor: pointer;
        }
      }
    }
  }

  .App-rightSide {
    flex: 1 0 30%;
    margin-left: 5px;

    .App-winnerPick {
      margin-bottom: 10px;
    }

    .App-userCode {
      height: 500px;
    }
  }
}
