$color-main: #47c9af;
$color-orange: #F19B2E;


html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  &.color-main {
    background-color: $color-main !important;
  }

  &.color-orange {
    background-color: $color-orange !important;
  }
}
