@import './common.scss';


.LanguageChooser {
  margin-top: 200px;
  color: #fff;
  text-align: center;
  height: 100%;

  h1 {
    font-size: 60px;
  }

  .LanguageChooser-choice {
    margin-top: 50px;

    button {
      padding: 20px;
      width: 250px;
      background-color: inherit;
      font-size: 48px;
      line-height: 32px;
      border: 6px solid #fff;
      transition-property: color, background-color;
      transition-duration: 0s;
      transition-timing-function: linear;

      &:hover {
        transition-duration: 1s;
        background-color: #fff;
        color: $main-color;
      }
    }

    span {
      font-size: 32px;
      margin: 0 40px;
    }
  }
}
